<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'product/style_catalog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    
</head>
   
    <body>
        
        <header>
            <h1>Lt.com</h1>
            <div class="nav container">
                <a href="#">Iphone</a>
                <a href="#">Mac</a>
                <a href="#">IPad</a>
                <a href="#">Air Pods</a>
                <a href="#">Apple Watch</a>
                <i class="bx bx-shopping-bag" id="cart-icon"></i>
            </div>
            
            
        </header>

        
        <main>
            <section class="shop container">
                <form action="" method="POST">
                    <div class="shop-content">
                        {% for product in products %}
                            <div class="product-box">                                            
                                <img src="{{ product.image.url }}" alt="{{ product.name }}"  class="product-img">
                                <a   href="{% url 'product_detail' product.id %}" class="product-title"  >{{ product.name }}</a>
                                <span class="price">${{ product.price }}</span>
                                <i class='bx bx-up-arrow-alt add-cart' ></i>    
                                <!-- <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>-->
                            </div>         
                               
                        {% endfor %}                   
                    </div>      
                </form>
                <div class="cart">
                    <h2 class="cart-title">Your Cart</h2>
                    <div class="cart-content">
                        <div class="cart-box">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}"  class="product-img">
                            
                            
                        </div>
                    </div>
                    <div class="total">
                        <div class="total-title">Total</div>
                        <div class="total-price">$0</div>
                    </div>
                    <a  class="btn-buy" id="close-order" type="button">Buy Now</a>
                    <i class='bx bx-x' id="close-cart"></i>
                </div>
                
                
                
            </section>  
            <script src="{% static 'product/bg.js' %}"></script>
            
            
            
        </main>  
                
                
        
    
        
    </body>
    </html>