<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'product/style_product.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
    
        
    
<body>
    <header>
        <h1>Lt.com</h1>
        <div>
            
            <a href="#">Iphone</a>
            <a href="#">Mac</a>
            <a href="#">IPad</a>
            <a href="#">Air Pods</a>
            <a href="#">Apple Watch</a> 
        </div>
    </header>
    <main>
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="shop-content">
                
                <div class="product-box">                                            
                    <img src="{{ product.image.url }}" alt="{{ product.name }}"  class="product-img">
                    <!-- <h2 class="product-title">{{ product.name }}</h2>
                    <span class="price">${{ product.price }}</span> -->
                                            
                </div>
                <form action="" method="POST">                    
                    <div class="info-box">
                        
                            <h1 class="title" name="name">{{product.name}}</h1>
                            <span class="price-product" name="price">${{product.price}}</span>
                            <p class="info-product">{{product.description}}</p>
                            <span class="diagonal"> Phone diagonal is {{product.diagonal}} px</span>
                            <span class="diagonal"> Phone ram is {{product.ram}}</span>
                            <button name="btn-addcart" class="btn-add-cart" >Add to Cart</button>
                        </form>
                    </div>
                </form>         
                {{bucket}}   
                {{user}}            
                
            </div>    
            
        </form>
        
        
            
                
                    
                                                  
                               
                     
            
        

    </main>

    
   
            
       
    
   
        
    
    
</body>
</html>